@font-face {
  font-family: "AkkuratProLight";
  src: url(/fonts/AkkuratPro-Light.otf);
}
@font-face {
  font-family: "AkkuratProBold";
  src: url(/fonts/AkkuratPro-Bold.otf);
}
@font-face {
  font-family: "AkkuratProReg";
  src: url(/fonts/AkkuratPro-Regular.otf);
}
@font-face {
  font-family: "OpenSansLight";
  src: url(/fonts/OpenSans-Light.otf);
}

/*  darker shade yellow
#F7EB22
lighter yellow
#FFFD7A
default yellow
#FEF223
*/

body {
  background-color: #11100d;
}

h5 {
  color: #171718;
  font-family: "OpenSansSemiBold";
  letter-spacing: 1.5px;
  font-size: 19pt;
  margin: 0 auto;
  text-align: center;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-brand {
  color: white;
  font-size: 18pt;
  font-family: "AkkuratProLight";
}

.navbar-brand:hover {
  color: #fffd7a;
}

.navbar {
  height: 40px;
}

.jumbotron {
  background-color: #1a180f;
  position: relative;
  z-index: 5;
  width: 95vw;
  height: 85vh;
  margin: 10vh auto 0 auto;
  border-radius: 6px;
  -webkit-box-shadow: 10px 20px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 20px 8px rgba(0, 0, 0, 0.5);
}

.jumbotron h2 {
  text-align: left;
  font-family: "AkkuratProReg";
  line-height: 5vw;
  font-size: 40px;
  letter-spacing: 1.9px;
  color: #fef223;
  position: relative;
  z-index: 14;
  max-width: 50vw;
}

.jumbotron .container {
  display: flex;
  flex-flow: column;
  margin-top: 5vh;
}

.jumbotron .container img {
  height: 510px;
  width: 630px;
  position: absolute;
  top: 3%;
  margin-left: 35vw;
}

.header__link,
.header__link:hover {
  text-decoration: none;
}

.header__coa {
  width: 225px;
  height: 80px;
  border-radius: 5px;
  background-image: -o-linear-gradient(290deg, #d8be2f 0%, #ebdc22 100%);
  background-image: linear-gradient(-200deg, #d8be2f 0%, #ebdc22 100%);
  font-size: 22px;
  color: black;
  letter-spacing: 1.1px;
  text-align: center;
  line-height: 80px;
  font-family: "AkkuratProBold";
  margin: 3rem 0;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.header__link .header__coa:hover {
  background-image: -o-linear-gradient(left, #fef223 0%, #e8d816 100%);
  background-image: linear-gradient(90deg, #fef223 0%, #e8d816 100%);
  -webkit-transform: rotateX(0) rotateY(-16deg) rotateZ(0);
  transform: rotateX(0) rotateY(-16deg) rotateZ(0);
}

.header__accent {
  width: 90px;
  height: 4px;
  background-color: floralwhite;
  position: relative;
  z-index: 10;
  margin: 20px 0;
  border-radius: 3px;
}

.header__tagline {
  color: lightgray;
  font-family: "AkkuratProLight";
  font-size: 14pt;
  line-height: 30px;
  text-align: left;
  max-width: 30vw;
  margin: 20px 0;
}

/* about mock */

#about {
  height: 10vh;
  background: transparent;
}

.about--wrapper {
  display: flex;
  background: black;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: relative;
  margin: 15vh auto 0 auto;
  z-index: 3;
  flex-basis: 1 0 100%;
  padding-bottom: 60px;
}

.simplelogo {
  max-width: 100px;
  max-height: auto;
  margin: 0 0 0 7vw;
}

.complexlogo {
  max-width: 170px;
  max-height: auto;
  margin: 0 0 0 6vw;
}

.about--wrapper p {
  max-width: 100vw;
  color: lightgray;
  font-family: "AkkuratProLight";
  font-size: 16px;
}

/* work */
.work {
  background-color: #21201c;
  height: auto;
  width: 100vw;
  padding: 5vh 0 14vh 0;
}

.work .container {
  display: flex;
  flex-flow: column wrap;
}

.work h2 {
  color: white;
  font-family: "AkkuratProReg";
  letter-spacing: 1.2px;
  margin: 2vh 0 0 0;
}

.projects {
  display: flex;
  max-width: 100vw;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.work__card {
  margin: 3vh 0 0 2vw;
  padding: 3px;
  width: 22rem;
  height: auto;
  border-radius: 14px;
  background: black;
  background-image: -o-linear-gradient(top, #ffff13 0%, #d8be2f 100%);
  background-image: linear-gradient(180deg, #ffff13 0%, #d8be2f 100%);
  -webkit-box-shadow: 2px 9px 11px 6px black;
  box-shadow: 2px 9px 11px 6px black;
}

.work__card--title {
  color: black;
  padding: 1rem;
  border-radius: 9px;
  font-family: "AkkuratProBold";
  font-size: 21pt;
  letter-spacing: 1.4px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.work__card--title:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.card-text {
  color: lightgray;
}

.work__card a {
  display: flex;
  flex-flow: column nowrap;
  text-decoration: none;
}

.work__accent {
  width: 100%;
  height: 1.2px;
  background-color: black;
  position: relative;
  z-index: 10;
  margin: 0 0 2vh 0;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.work__card:hover .work__accent {
  width: 50%;
  -webkit-transform: translateX(5rem);
  -ms-transform: translateX(5rem);
  transform: translateX(5rem);
}
.h6-wrapper {
  background: transparent;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: 9px;
}

.h6-wrapper p {
  font-family: "AkkuratProLight";
  font-size: 12.5pt;
  color: black;
}

img {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 10;
}

/* clients */

.clients .client__logos {
  padding-top: 2vh;
}

.support,
.clients {
  padding-top: 5vh;
  height: 80vh;
}

.client__header,
.support__header {
  font-family: "AkkuratProBold";
  font-size: 21pt;
  letter-spacing: 0.5px;
}

.clients h5 {
  color: white;
}

.support {
  background-color: white;
}

.client__logos,
.supporter__logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.supporter__logos img,
.client__logos img {
  margin: 5vh 4vw 0 6vw;
  max-height: 80px;
  width: auto;
}

.supporter__logos img .logo--filecoin,
.support__logos img .aion {
  height: 60px;
  max-width: 80px;
}

/* footer */
footer {
  width: 100vw;
  z-index: 10;
  height: 40vh;
}

.footer-container {
  background-color: #11100d;
  z-index: 10;
  display: flex;
  flex-flow: row wrap;
}

.contact,
.menu {
  display: flex;
  flex: 1 1 200px;
  max-width: 100%;
  flex-flow: column wrap;
}

.logo {
  display: flex;
  flex: 1 1 100vw;
  flex-flow: wrap;
  order: -1;
}
.menu a {
  text-align: center;
}

footer h4 {
  font-size: 10pt;
  letter-spacing: 2px;
  margin: 2vh 0 0 0;
  color: lightgray;
}

.contact--text {
  color: lightgray;
  font-family: "AkkuratProLight";
  font-size: 11pt;
  margin: 3vh 0 0 0 3vh;
}

.footer--link {
  margin-bottom: 4px;
  font-size: 11pt;
  color: floralwhite;
  font-family: "AkkuratProLight";
  letter-spacing: 1px;
}

.footer--link:hover {
  color: #fef223;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icons {
  margin: 3vh 0 0 auto;
}

.icons a .fab {
  margin: 0 0 0 1.5rem;
  font-size: 18pt;
  color: white;
}

/* animations */
.fadeInOnScroll {
  -webkit-animation: fade-in 1s ease forwards;
  animation: fade-in 1s ease forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
}

.icons a i:hover {
  -webkit-transform: scale(1.24);
  -ms-transform: scale(1.24);
  transform: scale(1.24);
  color: #fef223;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__logo {
  width: 90px;
  height: 60px;
}

.footer__desc {
  color: lightgray;
  margin: 2vh 0 0 3vw;
  font-family: "AkkuratProLight";
}

@media only screen and (min-width: 1151px) {
  .support,
  .clients {
    height: 60vh;
  }
  .client__logos img,
  .supporter_logos img {
    margin: 10vh 1rem 0 1.2rem;
  }
  .client__logos img {
    height: 8vh;
  }
  .simplelogo {
    max-width: 200px;
    max-height: 150px;
  }

  .complexlogo {
    max-width: 220px;
    max-height: 175px;
  }
}

@media only screen and (max-width: 1150px) {
  .jumbotron {
    height: 60vh;
    width: auto;
  }
  .jumbotron .container img {
    width: 40vw;
    height: 330px;
    margin: 15vh 0 0 40vw;
  }

  .header__coa {
    margin-top: 2vh;
  }
  .support {
    height: 45vh;
    align-items: center;
    padding-bottom: 15vh;
  }
  .client__logos {
    margin: 2vh 0 0 2vw;
  }
  .client__logos img {
    max-height: 70px;
    width: auto;
  }
  .clients {
    height: 60vh;
    width: 100vw;
  }
  .about--wrapper {
    justify-content: center;
  }
  .simplelogo {
    margin: 0.5vh 0 0 14vw;
    height: 110px;
  }
  .complexlogo {
    height: 140px;
    margin: 0 0 0 10vw;
  }
  .projects .row {
    margin: 2vh 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .work__card {
    margin: 2vh 0 0 0;
    padding: 0.25rem;
    width: 25rem;
    height: auto;
  }
  footer .logo {
    flex-flow: column wrap;
    justify-content: center;
  }
  footer .icons {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .work__card {
    margin: 2vh 0 0 4vw;
  }
  .clients {
    height: 60vh;
  }
  .footer {
    height: auto;
    position: absolute;
    top: 190%;
  }
}

@media only screen and (max-width: 430px) {
  .jumbotron {
    height: 100vh;
    max-width: 100vw;
  }
  .jumbotron h2 {
    line-height: 62px;
    max-width: 90vw;
  }
  .jumbotron .container img {
    width: 85vw;
    height: 335px;
    margin: 0;
  }

  .header__tagline {
    max-width: 90vw;
  }
  .support,
  .clients {
    height: 100%;
    padding-bottom: 40px;
  }

  .support__header,
  .client__header {
    font-size: 18pt;
    width: 80vw;
  }
  .client__logos img {
    max-height: 60px;
    max-width: auto;
  }
  .simplelogo {
    margin: 0 0 0 28vw;
  }
  .complexlogo {
    margin: 0 0 0 15vw;
    max-width: 200px;
    max-height: 165px;
  }
  .projects {
    margin: 8vh 0 0 0;
    display: flex;
    flex-flow: column wrap;
  }
  .projects .row {
    height: 20%;
    margin: 4vh 0 5vh 0;
  }
  .work__card {
    margin: 2vh 0 0 0;
    padding: 0.5rem;
    width: auto;
    height: auto;
  }
  #about {
    height: 1vh;
    background: transparent;
  }
}

@media only screen and (max-width: 340px) {
  .jumbotron {
    width: 100vw;
    height: 100vh;
    margin: none;
  }

  .jumbotron .container img {
    width: 320px;
    height: 350px;
    margin: 0;
  }
  .jumbotron h2 {
    margin-top: 20px;
    line-height: 60px;
  }

  .header__tagline {
    max-width: 100vw;
  }

  .header__link {
    display: none;
  }
  .support {
    height: 100%;
    padding-bottom: 40px;
  }

  .support h5 {
    font-size: 18pt;
  }
  .supporter__logos a img {
    max-height: 82px;
    width: auto;
  }
  .about--wrapper {
    padding-bottom: 60px;
  }
}
