@font-face {
  font-family: "AkkuratProLight";
  src: url(/fonts/AkkuratPro-Light.otf);
}

body {
  background-color: black;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-brand {
  color: white;
  font-weight: 200;
}

.navbar {
  height: 40px;
}

.jumbotron {
  background-color: #2d2d2d;
  position: relative;
  z-index: 5;
  width: 90vw;
  height: 30vw;
  opacity: 0.8;
  margin: 20vh auto 0 auto;
  border-radius: 6px;
  box-shadow: 10px 20px 8px rgba(0, 0, 0, 0.5);
}

.jumbotron h2 {
  text-align: left;
  font-family: "AkkuratProLight";
  line-height: 6vw;
  font-size: 40pt;
  letter-spacing: 2.2px;
  color: yellow;
  position: static;
  z-index: 10;
}

.jumbotron .container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.jumbotron .container img {
  height: 350px;
  width: 400px;
  position: absolute;
  top: 8%;
  margin-left: 28%;
}
.jumbotron .int-link i {
  color: white;
  opacity: 1;
  font-size: 29pt;
  position: relative;
  top: 60%;
}

/* about mock */

.about--wrapper {
  display: flex;
  background: #2a2727;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: relative;
  margin: 20vh auto 0 auto;
  z-index: 3;
  flex-basis: 1 0 100%;
}

.simplelogo {
  max-width: 200px;
  max-height: 150px;
}

.complexlogo {
  max-width: 220px;
  max-height: 175px;
}

.about--wrapper p {
  max-width: 100%;
  color: white;
}

/* footer */
/* .footer-bg {
  height: 40vh;
  width: 100vw;
  background: url(/chainsafe_tiled.png);
  background-size: 20%;
  position: absolute;
  bottom: 0;
  z-index: 3;
} */

.footer-container {
  height: 40vh;
  background-color: red;
  z-index: 10;
  display: flex;
  flex-flow: row wrap;
}

.contact,
.menu {
  display: flex;
  flex: 1 1 200px;
  max-width: 100%;
  flex-flow: column wrap;
}

.logo {
  display: flex;
  flex: 1 1 100vw;
  flex-flow: wrap;
}
.menu a {
  text-align: center;
}

footer h4 {
  font-size: 10pt;
  letter-spacing: 2px;
  margin: 2vh 0 0 0;
  color: white;
}

.contact--text {
  color: white;
  font-family: "Arial";
  font-size: 11pt;
  margin: 3vh 0 0 0 3vh;
}

.footer--link {
  margin-bottom: 4px;
  font-size: 11pt;
  color: white;
}
.icons {
  margin: 8vh 0 0 auto;
}

.icons a .fab {
  margin: 0 0 0 1.5rem;
  font-size: 18pt;
  color: white;
}

.icons a i:hover {
  transform: scale(1.24);
  transition: all 0.2s ease;
}

.footer__logo {
  width: 90px;
  height: 60px;
}

.footer__desc {
  color: white;
  margin: 2vh 0 0 3vw;
}
